/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.question-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  font-size: 1.2rem;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  width: 60%;
}

.option-btn:hover {
  transform: scale(1.05);
  background-color: #45a049;
}

.result-container h2 {
  font-size: 2rem;
  color: #333;
}

.result-container p {
  font-size: 1.5rem;
  color: #4caf50;
}

button:focus {
  outline: none;
}


/* WhatsApp Button Styling */
.whatsapp-button button {
  background-color: #25d366; /* WhatsApp green color */
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50px; /* Rounded corners */
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px; /* Max width for the button */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.whatsapp-button button:hover {
  background-color: #128c7e; /* Darker green on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.whatsapp-button button:active {
  transform: translateY(0); /* Button back to normal when clicked */
}

/* Adding WhatsApp Icon */
.whatsapp-button button::before {
  content: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg'); /* WhatsApp icon */
  margin-right: 10px; /* Space between icon and text */
  width: 20px;
  height: 20px;
}
